
.icon-facebook-squared:before { content: '\61'; } /* 'a' */
.icon-adult:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
